{% load i18n %}

{% if perms.category_extensions.view %}
<li class="side-nav-section">
  <p>
    {% trans "Category Extensions" context "Dashboard category extensions list" %}
  </p>
  <ul>
      {% if perms.category_extensions.vew %}
        <li class="{% block menu_category_extensions_class %}{% endblock %}">
          <a href="{% url 'category-extension-dashboard-list' %}">
            {% trans "Categories" context "Dashboard category extensions list" %}
          </a>
        </li>
      {% endif %}
    </ul>
</li>
{% endif %}

