{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url 'category-extension-dashboard-delete' pk=category_extension.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed context "Modal remove category extension text" %}
  Remove category extension <strong>{{ category_extension }}</strong>?
{% endblocktrans %}
{% endblock %}

{% block content %}
  <div class="col s12">
  {% blocktrans trimmed context "Modal remove category extension text" %}
    Are you sure you want to remove category extension {{ category_extension }}?
    <br> This category will no longer have this extension.
  {% endblocktrans %}
  </div>
{% endblock content %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
